#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #35848e9c; /* Fully transparent background */
  color: white;
  cursor: pointer;
  padding: 1px;
  border-radius: 50%; /* Make it round */
  transition: background-color 0.3s, color 0.3s; /* Add a smooth transition */
    width: 30px; /* Set a fixed width to ensure a round button */
  height: 30px; /* Set a fixed height to ensure a round button */
}

#myBtn::before {
  content: '\2191'; /* Unicode character for upward arrow */
  font-size: 18px;
}

#myBtn:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker transparent background on hover */
  color: white; /* Change text color on hover */
}

/* Add some styles to your scroll indicator */
.scroll-indicator {
  background-color: black;
  color: white;
  padding: 15px;
}

.scroll-content {
  background-color: lightgrey;
  padding: 30px 30px 2500px;
}


@media screen and (max-width: 800px) {
  #myBtn {
  bottom: 20px;
  right: 20px;
  background-color: #35848e9c; /* Fully transparent background */

  }
}
