table:not([class]) {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0 30px;
  min-width: 600px;
}

table:not([class]) th,
table:not([class]) td {
  border: 1px solid #1c355e;
  padding: 10px 14px;
  text-align: left;
}

table:not([class]) th {
  background-color: #112240;
  color: #a5c8ff;
}

table:not([class]) td {
  background-color: #162c4b;
}

@media screen and (max-width: 768px) {
  table:not([class]) {
    min-width: unset;
    font-size: 14px;
  }
}

.table-scroll {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 30px;
}
